.header{
    background-color:blueviolet ;
    display:flex;
    border:solid;
   justify-content: space-evenly;
   font-size: large;
   
}
.grid{

background-color: gold;
display:ruby;
font-size:flex;
border : solid;
justify-content: space-around;
}



